#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tablespace {
  border-color: black;
  border-radius: 0;
  min-width: 70px;
  min-height: 70px;
  vertical-align: top;
}
.directional-arrow.robot-direction-n {
  transform: rotate(180deg);
}
.directional-arrow.robot-direction-e {
  transform: rotate(270deg);
}
.directional-arrow.robot-direction-w {
  transform: rotate(90deg);
}

.directional-arrow {
  position: absolute;
}
