#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tablespace {
  border-color: black;
  border-radius: 0;
  min-width: 50px;
  min-height: 50px;
  vertical-align: top;
}